* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerApp {
  padding-bottom: 10px;
  min-height: 100vh;
  background-color: rgb(229, 243, 233);
}
.containerApp header {
  background-color: rgb(213, 235, 220);
}

.containerApp header h1 {
  padding: 15px;
  height: 50px;
  font-weight: normal;
  font-family: Arial;
  font-size: 20px;
  color: rgb(27, 51, 21);
}
