* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(229, 243, 233);
  --background-color-header: rgb(213, 235, 220);
}

.containerApp {
  min-height: 100vh;
  background-color: var(----main-color);
}
.containerApp header {
  background-color: var(--background-color-header);
}

.containerApp header h1 {
  padding: 15px;
  height: 50px;
  font-weight: normal;
  font-family: Arial;
  font-size: 20px;
  color: rgb(27, 51, 21);
}
