:root {
  --main-color: rgb(229, 243, 233);
  --background-color-header: rgb(213, 235, 220);
  --background-color-button: rgb(94, 148, 127);
  --font-color: rgb(65, 71, 64);
}

.noteList {
  background-color: var(--main-color);
  min-height: 65vh;
}

.noteList h1.header {
  padding: 30px 0 10px;
  text-align: center;
  font-size: 24px;
  color: var(--font-color);
}
.noteList .note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 25px 25px 25px 30px;
  width: 65vw;
  background-color: var(--background-color-header);
  font-size: 15px;
}

.noteList .note .content {
  min-height: 80px;
}

.noteList .note .content .contentNote {
  text-decoration: none;
  color: var(--font-color);
}

.noteList .note .content .contentNote .text {
  width: 50vw;
  padding-bottom: 40px;
  word-wrap: break-word;
  color: var(--font-color);
  line-height: 20px;
}

.noteList .note button {
  padding: 12px 20px;
  background-color: var(--background-color-button);
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .noteList .note {
    width: 85vw;
  }

  .noteList .note .content .contentNote .text {
    width: 65vw;
  }
}

@media (max-width: 768px) {
  .noteList .note .content .contentNote .text {
    width: 60vw;
  }
}

@media (max-width: 425px) {
  .noteList .note {
    flex-direction: column;
    width: 90vw;
  }

  .noteList .note .content {
    min-height: 80px;
  }

  .noteList .note .content .contentNote .text {
    width: 80vw;
    padding-bottom: 15px;
  }

  .noteList .note button {
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .noteList h1.header {
    font-size: 20px;
  }
  .noteList .note {
    font-size: 14px;
  }

  .noteList .note button {
    padding: 10px 18px;
    font-size: 14px;
  }
}
