.noteList {
  background-color: rgb(229, 243, 233);
}

.noteList h1.header {
  padding: 30px 0 10px;
  text-align: center;
  font-size: 24px;
  color: rgb(65, 71, 64);
}
.noteList .note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 25px 25px 25px 30px;
  width: 900px;
  background-color: rgb(213, 235, 220);
  font-size: 15px;
}

.noteList .note .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}

.noteList .note .content .text {
  display: block;
  width: 700px;
  word-wrap: break-word;
  color: rgb(65, 71, 64);
}

.noteList .note .content .date {
  display: block;
  padding-top: 20px;
  text-decoration: none;
  color: rgb(65, 71, 64);
}

.noteList .note button {
  padding: 12px 20px;
  background-color: rgb(94, 148, 127);
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
