* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.singleNote {
  min-height: 100vh;
  background-color: rgb(229, 243, 233);
}

/* Header */

.singleNote header {
  background-color: rgb(213, 235, 220);
}

.singleNote header h1 {
  padding: 15px;
  height: 50px;
  font-weight: normal;
  font-family: Arial;
  font-size: 20px;
}

/* Buttons */

.singleNote .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
}

.singleNote .buttons a button {
  margin: 30px 20px;
  padding: 12px 20px;
  background-color: rgb(94, 148, 127);
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Content */

.singleNote .contentSingleNote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px auto;
  padding: 20px;
  width: 900px;
  min-height: 120px;
  background-color: rgb(213, 235, 220);
  font-size: 15px;
}

.singleNote .contentSingleNote .text {
  padding-bottom: 20px;
  width: 860px;
  word-wrap: break-word;
}
